<div class="modal fade modal-theme reset-pass" id="thankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="row row-centered"><br>
          <img src="/assets/tick.png" alt="pic"/>
          <p>An email has been sent to <a href="mailto:example@example.com">example@example.com</a> with instructions on how<br/>
to set your password. Please check your spam or junk folder if you  do not see the<br/>
email in next 10 minutes.</p>
          <p>If you do not recieve email <a href="#">click here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-theme reset-pass" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="row row-centered">
          <p>Please enter your email address to recieve details for your new password.</p>
          <div class="col-md-7 col-centered">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },:remote => true) do |f| %>
              <div class=" form-group input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><img src="/assets/email.png" alt="" width="26" height="19"/></span>
                <%= f.email_field :email, class: "form-control", placeholder: "Account Email", "aria-describedby"=>"sizing-addon1" %>
                <!-- <input type="text" class="form-control" placeholder="Account Email" aria-describedby="sizing-addon1"> -->
              </div>
              <%= f.submit "Reset Password",type: "submit",class: "btn-default-theme" %>
              <!-- <button type="submit" class="btn-default-theme" data-toggle="modal" data-target="#thankModal" data-dismiss="modal" arial-label="Close">Reset Password</button> -->
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---Signup-->
<div class="modal fade modal-theme" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
        <h4 class="modal-title" id="myModalLabel">SIGNUP</h4>
        <h5 class="error_msg" style="color:red;display:none"></h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
          	<h3>SignUp With :</h3>
            <p class="social-login">
            	<a href="<%= user_omniauth_authorize_path(:facebook) %>"><img src="/assets/fb-signup.png" alt=""/></a>
              <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>"><img src="/assets/google-signup.png" alt=""/></a>
              <a href="#"><img src="/assets/twitter-signup.png" alt=""/></a>
            </p>	
          </div>
          <div class="col-md-7">
          	<h3>Register a new Account:</h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="signup_box">
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/user.png" alt="" width="26" height="19"/></span>
                  <%= f.text_field :fname,:class=>"form-control",placeholder:"Full Name", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                  <!-- <input type="text" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1"> -->
		            </div>
                <div class="form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/email.png" alt="" width="26" height="19"/></span>
                  <%= f.email_field :email,:class=>"form-control",placeholder:"Email", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                  <!-- <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1"> -->
		            </div>
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                  <%= f.password_field :password,:class=>"form-control",placeholder:"Enter Password", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                  <!-- <input type="text" class="form-control" placeholder="Enter Password" aria-describedby="sizing-addon1"> -->
		            </div>
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/retyp.png" alt="" width="26" height="19"/></span>
                  <%= f.password_field :password_confirmation,:class=>"form-control",placeholder:"Retype Password", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                  <!-- <input type="text" class="form-control" placeholder="Retype Password" aria-describedby="sizing-addon1"> -->
		            </div>
                
                <div class=" form-group">
                  <div class="checkbox">
                    <input id="check1" type="checkbox" name="check" value="check1" required>
                    <label for="check1">I agree to <a href="#">terms</a></label>
                  </div>
                </div>
                <button class="btn-default-theme" id="next_btn" type="submit">Next</button>
              </div>

              <div class="payment_box" style="display:none">
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/user.png" alt="" width="26" height="19"/></span>
                  <%= f.text_field :card_name,:class=>"form-control",placeholder:"Card Name", "aria-describedby"=>"sizing-addon1" %>
                  <!-- <input type="text" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1"> -->
                </div>
                <div class="form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/email.png" alt="" width="26" height="19"/></span>
                  <%= f.text_field :card_number,:class=>"form-control",placeholder:"Card Number", "aria-describedby"=>"sizing-addon1" %>
                  <!-- <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1"> -->
                </div>
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                  <%= f.text_field :cvv,:class=>"form-control",placeholder:"CVV", "aria-describedby"=>"sizing-addon1" %>
                  <!-- <input type="text" class="form-control" placeholder="Enter Password" aria-describedby="sizing-addon1"> -->
                </div>
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/retyp.png" alt="" width="26" height="19"/></span>
                  <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], :class=> "form-control" %>
                  <!-- <input type="text" class="form-control" placeholder="Retype Password" aria-describedby="sizing-addon1"> -->
                </div>
                <div class=" form-group input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                  <%= f.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), class: "form-control", required: true %>
                  <!-- <input type="text" class="form-control" placeholder="Enter Password" aria-describedby="sizing-addon1"> -->
                </div>
                <%= f.hidden_field :payment_status,value: "false", class: "payment_status" %>

                <%= f.submit 'Sign Up', class: 'btn-default-theme', id: "signup_btn" %>
                <a href="#" id="back_btn">Back</a>
              </div>
            <%end%>
            <p class="links-popup">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal"  data-dismiss="modal" aria-label="Close">I already have an account.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Signup-->
<!--Payment-->
<% if session.has_key?("facebook_data") %>
  <div class="modal fade modal-theme" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
          <h4 class="modal-title" id="myModalLabel">SIGNUP</h4>
          <h5 class="error_msg" style="color:red;display:none"></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-7">
              <h3>Register a new Account:</h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="signup_box" style="display:none">
                  <%= f.text_field :fname, :value => session['facebook_data']['info']['name'] %>
                  <%= f.email_field :email,:value => session['facebook_data']['info']['email'] %>
                  <% password = Devise.friendly_token[0,20] %>
                  <%= f.password_field :password,:value => password %>
                  <%= f.password_field :password_confirmation,:value => password %>
                  <%= f.text_field :provider, :value => session['facebook_data']['provider'] %>
                  <%= f.text_field :uid, :value => session['facebook_data']['uid'] %>
                  <%= f.hidden_field :payment_status,value: "false", class: "payment_status" %>
                </div>

                <div class="payment_box">
                  <div class=" form-group input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="/assets/user.png" alt="" width="26" height="19"/></span>
                    <%= f.text_field :card_name,:class=>"form-control",placeholder:"Card Name", "aria-describedby"=>"sizing-addon1" %>
                  </div>
                  <div class="form-group input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="/assets/email.png" alt="" width="26" height="19"/></span>
                    <%= f.text_field :card_number,:class=>"form-control",placeholder:"Card Number", "aria-describedby"=>"sizing-addon1" %>
                  </div>
                  <div class=" form-group input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                    <%= f.text_field :cvv,:class=>"form-control",placeholder:"CVV", "aria-describedby"=>"sizing-addon1" %>
                  </div>
                  <div class=" form-group input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="/assets/retyp.png" alt="" width="26" height="19"/></span>
                    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], :class=> "form-control" %>
                  </div>
                  <div class=" form-group input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                    <%= f.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), class: "form-control", required: true %>
                  </div>
                  <%= f.submit 'Pay Now', class: 'btn-default-theme', id: "payment_btn" %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<!---payment>

<!--Login-->
<div class="modal fade modal-theme" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
        <h4 class="modal-title" id="myModalLabel">LOGIN</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <h3>Login With:</h3>
            <p class="social-login">
              <a href="<%= user_omniauth_authorize_path(:facebook) %>"><img src="/assets/fb-login.png" alt=""/></a>
                <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>"><img src="/assets/google-login.png" alt=""/></a>
                <a href="#"><img src="/assets/twitter-login.png" alt=""/></a>
            </p>  
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12">
            <h3>Sign Up With:</h3>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class=" form-group input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><img src="/assets/email.png" alt="" width="26" height="19"/></span>
                <%= f.text_field :fname,:class=>"form-control",placeholder:"Username", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                <!-- <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" required> -->
              </div>
              <div class="form-group input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><img src="/assets/lock.png" alt="" width="26" height="19"/></span>
                <%= f.password_field :password,:class=>"form-control",placeholder:"Password", "aria-describedby"=>"sizing-addon1",:required=>"required" %>
                <!-- <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" required> -->
              </div>
              
              <div class=" form-group">
                <div class="checkbox">
                  <%= f.check_box :remember_me,id: "check2",value: "check1" %>
                  <!-- <input id="check2" type="checkbox" name="user[remember_me]" value="check1"> -->
                  <label for="check2">Remember Me</label>
                </div>
              </div>
              <%= f.submit 'Sign In', class: 'btn-default-theme' %>
            <%end%>
            <p class="links-popup">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#resetModal" data-dismiss="modal" arial-label="Close">I forget my password </a>
              <a href="javascript:void(0);" data-toggle="modal" data-target="#signupModal"  data-dismiss="modal" aria-label="Close">Register a new membership</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Login-->
<!-- Header-->
<header class="header" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6">
        <h1 class="logo" ><a href="#home"><img src="/assets/logo.png"/></a></h1>
      </div>
      <div class="header-right col-md-8 col-sm-8 col-xs-6">
        <nav class="navigation">
        <span class="visible-xs login_lock"><a href="javascript:void(0);"  data-toggle="modal" data-target="#loginModal"><img src="/assets/lockk.png"/></a></span>
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <img src="/assets/tog.png" alt="pic"/> </button>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#growth">FAQ</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class=" hidden-xs"><a href="javascript:void(0);" class="btn-default-theme" data-toggle="modal" data-target="#loginModal">Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--Header --> 
<!--banner -->
<section id="banner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <img src="/assets/banner_img2.png" alt="..."> 
          <div class="carousel-caption"> <span class="heading_main"> 
          	STEALTHROI saves
              time from group 
              organisation </span> <span class="sub_heading"> Manage your ads easily now. </span> <a href="#"  class="btn-default-theme">GET STARTED</a> 
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption"> <span class="heading_main"> 
          	STEALTHROI saves
              time from group 
              organisation </span> <span class="sub_heading"> Manage your ads easily now. </span> <a href="#"  class="btn-default-theme">GET STARTED</a> 
          </div>
          <img src="/assets/banner_img3.png" alt="..."> 
        </div>
      </div>
    </div>
    
    <!-- Controls --> 
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="custom_scroll_icon left" aria-hidden="true"><img src="/assets/prev.png" alt="pic"/></span> <span class="sr-only">Previous</span> </a> 
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="custom_scroll_icon right" aria-hidden="true"><img src="/assets/next.png" alt="pic"/></span> <span class="sr-only">Next</span> </a>
  </div>
</section>
<!--banner -->
<section class="section about-sec" id="about">
  <div class="container">
    <div class="row">
      <div class="col-title">
        <h1>About Us</h1>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <span class="hidden-xs hidden-sm hidden-md">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ip</span></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has .......</p>
        <p><a href="#" class="btn-default-theme">Read more...</a></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12"><img src="/assets/about-img.jpg" alt="" /></div>
    </div>
  </div>
</section>
<section class="section growth-parameter" id="growth">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 gp-img"><img src="/assets/growth-parameter-img.jpg" alt="" /></div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="padding70">
          <div class="col-title">
            <h1>Growth Parameter</h1>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<span class="hidden-xs hidden-sm hidden-md">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ip</span></p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
          <p><a href="#" class="btn-default-theme">Read more...</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="section our-team">
  <div class="container">
    <div class="col-title">
      <h1>Our Team</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
        Lorem Ipsum has been the industry's stan </p>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="team"> <img src="/assets/team-1.jpg" alt="" class="team-img" />
          <h3>Lisa Simpson</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lwn printer took a galley of type and scrambled it to make a type cimen book.</p>
          <p class="t-social"><a href="#"><img src="/assets/icon-facebook.png" alt="" /></a> <a href="#"><img src="/assets/icon-twitter.png" alt="" /></a> <a href="#"><img src="/assets/icon-gplus.png" alt="" /></a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="team"> <img src="/assets/team-2.jpg" alt="" class="team-img" />
          <h3>Trevor Daniel</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lwn printer took a galley of type and scrambled it to make a type cimen book.</p>
          <p class="t-social"><a href="#"><img src="/assets/icon-facebook.png" alt="" /></a> <a href="#"><img src="/assets/icon-twitter.png" alt="" /></a> <a href="#"><img src="/assets/icon-gplus.png" alt="" /></a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="team"> <img src="/assets/team-3.jpg" alt="" class="team-img" />
          <h3>Emma Sofia</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lwn printer took a galley of type and scrambled it to make a type cimen book.</p>
          <p class="t-social"><a href="#"><img src="/assets/icon-facebook.png" alt="" /></a> <a href="#"><img src="/assets/icon-twitter.png" alt="" /></a> <a href="#"><img src="/assets/icon-gplus.png" alt="" /></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section contact-sec" id="contact">
  <div class="container">
  <div class="col-title">
    <h1>Contact us</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
    Lorem Ipsum has been the industry's 1500s</p>
  </div>
  <div class="clearfix"></div>
  <div class="row">
  	<form>
    <div class="col-sm-6">
    	<ul class="contact-form">
        	<li><input type="text" class="input" placeholder="Name"></li>
        	<li><input type="text" class="input" placeholder="Email"></li>
        	<li><input type="text" class="input" placeholder="Phone"></li>
        </ul>
    </div>
    <div class="col-sm-6">
    	<ul class="contact-form">
        	<li>
        	  <textarea class="input" placeholder="Message"></textarea>
        	</li>
        	<li><button type="submit" class="btn-default-theme">Submit</button></li>
        </ul>
    </div>
    </form>
  </div>
</section>
<!--Footer -->
<footer class="footer">
	<div class="container">
    	<a href="#home" class="back-top"><img src="/assets/backTotop.png" alt="pic"/></a>
        <p class="copy-text">Copyright © 2015 <span>StealthROI</span>. All rights reserved.</p>
		<p class="t-social"><a href="#"><img src="/assets/icon-facebook.png" alt="" /></a> <a href="#"><img src="/assets/icon-twitter.png" alt="" /></a> <a href="#"><img src="/assets/icon-gplus.png" alt="" /></a></p>
    </div>

</footer>

<script type="text/javascript">
  $(document).ready(function() {
    <% if session.has_key?("facebook_data") %>
      $("#paymentModal").modal('show')
      <% session.delete("facebook_data") %>
    <%end%>

    $($('form')[1]).valid()
    $("#user_password").rules("add",{minlength: 8});
    $("#user_password_confirmation").rules("add",{minlength: 8,equalTo: "#user_password"});
    // $("#check1").rules("add",{required: true});
  });

  $("#next_btn").click(function(e){
    e.preventDefault();
    e.stopPropagation();

    if ($($('form')[1]).valid()){
      $(".signup_box").hide()
      $(".payment_box").show()
    }
  })

   $("#back_btn").click(function(e){
    e.preventDefault();
    $(".signup_box").show()
    $(".payment_box").hide()
  })

   $("#signup_btn, #payment_btn").click(function(e){
    e.preventDefault();
    if ($('#preview1').html() == ""){
      var opts = {
              lines: 17,
              length: 40,
              width: 22,
              radius: 60,
              corners: 1,
              rotate: 90,
              direction: 1,
              color: '#000',
              speed: 1.3,
              trail: 96,
              shadow: false,
              hwaccel: false,
              className: 'spinner',
              zIndex: 2e9,
              top: '50%',
              left: '50%'
      };
      var target = document.getElementById('preview1');
      var spinner = new Spinner(opts).spin(target);
      target.appendChild(spinner.el);

      var card_name = $(this).parent().find("#user_card_name").val();
      var card_number = $(this).parent().find("#user_card_number").val();
      var cvv = $(this).parent().find("#user_cvv").val();
      var card_type = $(this).parent().find("#user_card_type").val();
      var card_year = $(this).parent().find("#user_card_expires_on_1i").val();
      var card_month = $(this).parent().find("#user_card_expires_on_2i").val();
      var src = $(this)

      $.ajax({
        type: 'post',
        url: '/user/verify_payment',
        // async: false,
        data: 'card_name='+card_name+'&card_number='+card_number+'&cvv='+cvv+'&card_type='+card_type+'&card_year='+card_year+'&card_month='+card_month,
        success: function(e){
          if (e.status == true){
            $(".payment_status").val("true")
            target.removeChild(spinner.el);
            $(src.parent().parent()[0]).submit()
          }else{
            var msg = JSON.stringify(e.message.details) 
            $(".error_msg").html(msg).css("display","block")
            $('#signupModal').animate({scrollTop: '100px'}, 300);
            target.removeChild(spinner.el);
            setTimeout(function(){
              $('.error_msg').slideUp();
            }, 10000);
          }
          
        },
        error: function(){
          target.removeChild(spinner.el);
          alert('Something went wrong.')
        }
      })
    }  
  })


</script>

<style type="text/css">
  select {
    background-color: #fff;
    border: 1px solid #454545;
    border-left: 0px;
    border-radius: 0px;
    height: 80px;
    width: 100%
    }
    #user_card_expires_on_1i,#user_card_expires_on_2i{
      width: 50%;
      padding: 10px;
    }
    label.error{
      font-weight: 0;
      display: table-caption;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
    .input-group-lg label:before{
      border:none !important;
      width: 0 !important;
      height: 0 !important;
    }
</style>