<div id="wrapper">
    <%= render :partial => "/shared/left_side_menu" %>
    <div id="page-wrapper" class="gray-bg sidebar-content">
        <%= render :partial => "/shared/header" %>
        
        <div class="wrapper wrapper-content">
        	<div class="row">
            	<div class="col-lg-12 main-heading">
                
                	<h1>Settings</h1>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-lg-12">
                	<div class="settings-page">
                    	<h3>Profile Settings</h3>
                    	<div role="tabpanel" class="tabby">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Personal Info</a></li>
                                <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">Change Password</a></li>
                                <li role="presentation"><a href="#avatar" aria-controls="avatar" role="tab" data-toggle="tab">Change Avatar</a></li>
                                <li role="presentation"><a href="#api" aria-controls="api" role="tab" data-toggle="tab">API Connection</a></li>
                                <li role="presentation"><a href="#subscription" aria-controls="subscription" role="tab" data-toggle="tab">Subscription</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane  active" id="info">
                                <%= form_for(@user, url: user_path(@user), html: { method: :put, id: "profile_form" }) do |f| %>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>User Name :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.text_field :fname,class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                	<div class="row">
                                    	<div class="form-group">
                                            <div class="col-md-3">
                                                <label>First Name :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.text_field :first_name,class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            <div class="col-md-3">
                                                <label>Last Name :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.text_field :last_name,class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            <div class="col-md-3">
                                                <label>Email Address :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.text_field :email,class: "form-control", disabled: "true" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            <div class="col-md-3">
                                                <label>Phone :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.text_field :phone,class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            <div class="col-md-3">
                                                <label>Default Time Zone :</label>
                                            </div>
                                            <div class="col-md-9">
                                                <%= f.select :timezone, [["(GMT-12:00) International Date Line West", "International Date Line West"], ["(GMT-11:00) Midway Island, Samoa", "Samoa"], ["(GMT-10:00) Hawaii", "Hawaii"], ["(GMT-09:00) Alaska", "Alaska"], ["(GMT-08:00) Pacific Time (US & Canada)", "Pacific Time (US & Canada)"], ["(GMT-08:00) Tijuana, Baja California", "Tijuana"], ["(GMT-07:00) Arizona", "Arizona"], ["(GMT-07:00) Chihuahua, La Paz, Mazatlan", "Mazatlan"], ["(GMT-07:00) Mountain Time (US & Canada)", "Mountain Time (US & Canada)"], ["(GMT-06:00) Central America", "Central America"], ["(GMT-06:00) Central Time (US & Canada)", "Central Time (US & Canada)"], ["(GMT-06:00) Guadalajara, Mexico City, Monterrey", "Mexico City"], ["(GMT-06:00) Saskatchewan", "Saskatchewan"], ["(GMT-05:00) Bogota, Lima, Quito, Rio Branco", "Bogota"], ["(GMT-05:00) Eastern Time (US & Canada)", "Eastern Time (US & Canada)"], ["(GMT-05:00) Indiana (East)", "Indiana (East)"], ["(GMT-04:00) Atlantic Time (Canada)", "Atlantic Time (Canada)"], ["(GMT-04:00) Caracas, La Paz", "Caracas"], ["(GMT-04:00) Manaus", "America/Manaus"], ["(GMT-04:00) Santiago", "Santiago"], ["(GMT-03:30) Newfoundland", "Newfoundland"], ["(GMT-03:00) Brasilia", "Brasilia"], ["(GMT-03:00) Buenos Aires, Georgetown", "Georgetown"], ["(GMT-03:00) Greenland", "Greenland"], ["(GMT-03:00) Montevideo", "Montevideo"], ["(GMT-02:00) Mid-Atlantic", "Mid-Atlantic"], ["(GMT-01:00) Cape Verde Is.", "Cape Verde Is."], ["(GMT-01:00) Azores", "Azores"], ["(GMT+00:00) Casablanca Monrovia Reykjavik", "Monrovia"], ["(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London", "GMT"], ["(GMT+01:00) Amsterdam Berlin, Bern, Rome, Stockholm, Vienna", "Vienna"], ["(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague", "Belgrade"], ["(GMT+01:00) Brussels, Copenhagen, Madrid, Paris", "Paris"], ["(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb", "Warsaw"], ["(GMT+01:00) West Central Africa", "West Central Africa"], ["(GMT+02:00) Amman", "Asia/Amman"], ["(GMT+02:00) Athens, Bucharest, Istanbul", "Athens"], ["(GMT+02:00) Beirut", "Asia/Beirut"], ["(GMT+02:00) Cairo", "Cairo"], ["(GMT+02:00) Harare, Pretoria", "Harare"], ["(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius", "Helsinki"], ["(GMT+02:00) Jerusalem", "Jerusalem"], ["(GMT+02:00) Minsk", "Minsk"], ["(GMT+02:00) Windhoek", "Africa/Windhoek"], ["(GMT+03:00) Kuwait, Riyadh, Baghdad", "Baghdad"], ["(GMT+03:00) Moscow, St. Petersburg, Volgograd", "Volgograd"], ["(GMT+03:00) Nairobi", "Nairobi"], ["(GMT+03:00) Tbilisi", "Tbilisi"], ["(GMT+03:30) Tehran", "Tehran"], ["(GMT+04:00) Abu Dhabi, Muscat", "Abu Dhabi"], ["(GMT+04:00) Baku", "Baku"], ["(GMT+04:00) Yerevan", "Yerevan"], ["(GMT+04:30) Kabul", "Kabul"], ["(GMT+05:00) Yekaterinburg", "Asia/Yekaterinburg"], ["(GMT+05:00) Islamabad, Karachi, Tashkent", "Karachi"], ["(GMT+05:30) Sri Jayawardenapura", "Asia/Colombo"], ["(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi", "New Delhi"], ["(GMT+05:45) Kathmandu", "Asia/Kathmandu"], ["(GMT+06:00) Almaty, Novosibirsk", "Almaty"], ["(GMT+06:00) Astana, Dhaka", "Dhaka"], ["(GMT+06:30) Yangon (Rangoon)", "Rangoon"], ["(GMT+07:00) Bangkok, Hanoi, Jakarta", "Jakarta"], ["(GMT+07:00) Krasnoyarsk", "Krasnoyarsk"], ["(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi", "Beijing"], ["(GMT+08:00) Kuala Lumpur, Singapore", "Singapore"], ["(GMT+08:00) Irkutsk, Ulaan Bataar", "Irkutsk"], ["(GMT+08:00) Perth", "Perth"], ["(GMT+08:00) Taipei", "Taipei"], ["(GMT+09:00) Osaka, Sapporo, Tokyo", "Tokyo"], ["(GMT+09:00) Seoul", "Seoul"], ["(GMT+09:00) Yakutsk", "Yakutsk"], ["(GMT+09:30) Adelaide", "Adelaide"], ["(GMT+09:30) Darwin", "Darwin"], ["(GMT+10:00) Brisbane", "Brisbane"], ["(GMT+10:00) Canberra, Melbourne, Sydney", "Canberra"], ["(GMT+10:00) Hobart", "Hobart"], ["(GMT+10:00) Guam, Port Moresby", "Guam"], ["(GMT+10:00) Vladivostok", "Vladivostok"], ["(GMT+11:00) Magadan, Solomon Is., New Caledonia", "Magadan"], ["(GMT+12:00) Auckland, Wellington", "Auckland"], ["(GMT+12:00) Fiji, Kamchatka, Marshall Is.", "Fiji"], ["(GMT+13:00) Nuku'alofa", "Nuku'alofa"]] %>
                                                <!-- <select>
                                                    <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
                                                    <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                                    <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
                                                    <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
                                                    <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                                                    <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
                                                    <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
                                                    <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                                    <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                                                    <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
                                                    <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                                                    <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                                    <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
                                                    <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                                    <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                                                    <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
                                                    <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                                                    <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
                                                    <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
                                                    <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
                                                    <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
                                                    <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                                                    <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                                                    <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
                                                    <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                                                    <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
                                                    <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
                                                    <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
                                                    <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                                                    <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                    <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                    <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                                    <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                                    <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                                    <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
                                                    <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
                                                    <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                                                    <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
                                                    <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
                                                    <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
                                                    <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                                    <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                                                    <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
                                                    <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
                                                    <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                                    <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                                    <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
                                                    <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
                                                    <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
                                                    <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                                                    <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
                                                    <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
                                                    <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
                                                    <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
                                                    <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                                    <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                                                    <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                                    <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
                                                    <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                                                    <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
                                                    <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                                                    <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                                    <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
                                                    <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                                    <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                                                    <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                                    <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
                                                    <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
                                                    <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                                    <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
                                                    <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
                                                    <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
                                                    <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
                                                    <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
                                                    <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                                    <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
                                                    <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
                                                    <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
                                                    <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                                                    <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
                                                    <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                                    <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                                                </select> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            
                                            <div class="col-md-9 col-md-offset-3">
                                                <input type="submit" value="Save Changes" class="btn-admin btn-blue" id="profile_save" />
                                                <input type="submit" value="Cancel" class="btn-admin btn-grey"/>
                                            </div>
                                        </div>
                                    </div>
                                    <%end%>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="password">
                                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                        <% if current_user.valid_password?("dummypass@12345") %>
                                            <%= f.hidden_field :current_password,value: "dummypass@12345", class: "payment_status" %>
                                        <%else%>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label>Current Password :</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <%= f.password_field :current_password, autocomplete: "off",class: "form-control" %>
                                                        <!-- <input type="text" class="form-control" /> -->
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%>
                                        <div class="row">
                                        	<div class="form-group">
                                                <div class="col-md-3">
                                                    <label>New Password :</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
                                                    <!-- <input type="text" class="form-control" /> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        	<div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Re-type Password :</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
                                                    <!-- <input type="text" class="form-control" /> -->
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                        	<div class="form-group">
                                                
                                                <div class="col-md-9 col-md-offset-3">
                                                    <%= f.submit "Change Password",class: "btn-admin btn-blue" %>
                                                    <!-- <input type="submit" value="Change Password" class="btn-admin btn-blue" /> -->
                                                    <input type="submit" value="Cancel" class="btn-admin btn-grey"/>
                                                </div>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="avatar">
                                    <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
                                	<div class="row">
                                        <div class="form-group">
                                        	<div class="col-md-12">
                                            	<div class="image_uploading">
                                                <div class="image_upload_main upload-preview">
                                                    <%= image_tag(@user.remote_avatar_url.nil? ? @user.avatar_url : @user.remote_avatar_url, height: "231", width: "271") %>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                        	<div class="col-md-12">
                                                <div class="select_image">
                                                    <%= f.file_field :avatar, class: "file" %>
                                                    <div  class="btn-admin btn-blue hidden_overlay">Select Image</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                        	<div class="col-md-12">
                                    			<p>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only</p>
                                            </div>
                                    	</div>
                                    </div>
                                    <div class="row">
                                    	<div class="form-group">
                                            
                                            <div class="col-md-9">
                                                <input type="submit" value="Change Avatar" class="btn-admin btn-blue" />
                                                <input type="button" value="Cancel" class="btn-admin btn-grey"/>
                                            </div>
                                        </div>
                                    </div>
                                    <%end%>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="api">
                                    <h4>Select Plateform: </h4>

                                    <%= form_for(@user, url: user_path(@user), html: { method: :put, id: "api_form" }) do |f| %>
                                        <div class="container">
                                            <h2><!-- Select Plateform: --></h2>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <div class="radio" style="display: inline-block"><label><input type="radio" name="ad" value="viralstyle" <%unless current_user.viralstyleapikey.empty?%>checked<%end%> >Viralstyle</label></div>
                                                        <%= f.text_field :viralstyleapikey,class: "form-control viralstyle", placeholder: "Enter Viralstyle API Key", style: "display: inline-block;width:725px;float:right;margin-top:8px" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <div class="radio" style="display: inline-block"><label><input type="radio" name="ad" value="shopify" <%unless current_user.shopify.empty?%>checked<%end%> >Shopify</label></div>
                                                        <%= f.text_field :shopify,class: "form-control shopify", placeholder: "Enter Shopify API Key", style: "display: inline-block;width:725px;float:right;margin-top:8px" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <div class="radio" style="display: inline-block"><label><input type="radio" name="ad" value="teechip" <%unless current_user.teechip.empty?%>checked<%end%> >Teechip</label></div>
                                                        <%= f.text_field :teechip,class: "form-control teechip", placeholder: "Enter Teechip API Key", style: "display: inline-block;width:725px;float:right;margin-top:8px" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <div class="radio" style="display: inline-block"><label><input type="radio" name="ad" value="teespring" <%unless current_user.teespring.empty?%>checked<%end%> >Teespring</label></div>
                                                        <%= f.text_field :teespring,class: "form-control teespring", placeholder: "Enter Teespring API Key", style: "display: inline-block;width:725px;float:right;margin-top:8px" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <div class="radio" style="display: inline-block"><label><input type="radio" name="ad" value="represent" <%unless current_user.represent.empty?%>checked<%end%> >Represent</label></div>
                                                        <%= f.text_field :represent,class: "form-control represent", placeholder: "Enter Represent API Key", style: "display: inline-block;width:725px;float:right;margin-top:8px" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-9 col-md-offset-2">
                                                        <%= f.submit "Save",class: "btn-admin btn-blue btn-submit" %>
                                                        <%= f.submit "Cancel",class: "btn-admin btn-grey" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%end%>
<%
=begin%>
                                    <%= form_for(@user, url: user_path(@user), html: { method: :put, id: "api_form" }) do |f| %>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>API key :</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <%= f.text_field :viralstyleapikey, autocomplete: "off",class: "form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <%= f.submit "Save",class: "btn-admin btn-blue" %>
                                                    <%= f.submit "Cancel",class: "btn-admin btn-grey" %>
                                                    <!-- <input type="submit" value="Cancel" class="btn-admin btn-grey"/> -->
                                                </div>
                                            </div>
                                        </div>
                                    <%end%>
<%
=end%>
                                    <hr/>
                                    <h4>Facebook </h4>
<%
=begin%>
                                    <% if current_user.fbauthtoken.nil? %>
                                        <div class="row">
                                            <div class="form-group">
                                                <!-- <div class="col-md-3">
                                                    <label>API key :</label>
                                                </div> -->
                                                <div class="col-md-3 col-md-offset-3">
                                                    <%= button_to "Connect Facebook","/user/connect_facebook",:class=>"btn btn-primary"%>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    <%else%>
                                        <%= button_to "Disconnect Facebook","/user/disconnect_facebook",:class=>"btn btn-primary",style: "float: right"%>
                                    <%end%>
<%
=end%>
                                    <% unless @campaign.nil? %>
                                        <%= form_for(@user, url: user_path(@user), html: { method: :put, id: "api_form" }) do |f| %>
                                            <div class="container">
                                                <h2>Select Ads Account:</h2>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Campaigns :</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <% @campaign.each_with_index do |obj,i| %>
                                                                <div class="radio">
                                                                  <label><input type="radio" name="user[fbadaccount]" value="<%=obj['id']%>" <%if current_user.fbadaccount==obj['id']%>checked<%end%> ><%=obj['id']%></label>
                                                                </div>
                                                            <%end%>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-9 col-md-offset-2">
                                                            <%= f.submit "Save",class: "btn-admin btn-blue" %>
                                                            <input type="submit" value="Cancel" class="btn-admin btn-grey"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%>
                                        <!-- <div class="modal fade modal-theme reset-pass" id="fbadmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" style="width:50%">
                                            <div class="modal-content">
                                              <div class="modal-body" style="padding:15px">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/assets/close.png" alt=""/></span></button>
                                                <div class="row row-centered"><br>
                                                  <img src="/assets/tick.png" alt="pic" /><br/>
                                                  <div class="">
                                                    <div class="container">
                                                      <h2>Form control: radio buttons</h2>
                                                      <p>The form below contains three radio buttons. The last option is disabled:</p>
                                                      <form role="form">
                                                        <%# @campaign.each_with_index do |obj,i| %>
                                                            <div class="radio">
                                                              <label><input type="radio" name="optradio"><%#=obj%></label>
                                                            </div>
                                                        <%#end%>
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div> -->
                                    <%end%>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="subscription">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>Your current Plan is Basic.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                </div>    	
            </div>
        </div>
    <%= render :partial => "/shared/footer" %>
    </div>
</div>

<script type="text/javascript">
    $("#user_fname").change(function(){
        var src = $(this);
        var username = src.val();
        $.ajax({
            type: 'get',
            url: '/user/verify_username',
            data: "username="+username,
            success: function(res){
                if(res.status == false){
                    src.parent().parent().prepend("<div class='username_alert' style='color:red'>Username already Exists.</div>")
                }else{
                    src.parent().parent().find(".username_alert").remove()
                }
            }
        })
    });

    $("#profile_save").click(function(e){
        e.preventDefault();
        if ($("#user_fname").val() != "<%= current_user.fname%>"){
            $.ajax({
                type: 'get',
                url: '/user/verify_username',
                data: "username="+$("#user_fname").val(),
                success: function(res){
                    if(res.status == false){
                        alert("Username already Exists.")
                    }else{
                        $("#profile_form").submit();
                    }
                }
            })
        }else{
            $("#profile_form").submit();
        }
    })

    $(document).ready(function(){
        var preview = $(".upload-preview img");

        $(".file").change(function(event){
           var input = $(event.currentTarget);
           var file = input[0].files[0];
           var reader = new FileReader();
           reader.onload = function(e){
               image_base64 = e.target.result;
               preview.attr("src", image_base64);
           };
           reader.readAsDataURL(file);
        });

        <%# if session.has_key?('fb_access_token') %>
            <%# session.delete('fb_access_token') %>
            // $("a[href='#api']").trigger('click');
            // $('#fbadmodal').modal('show')
        <%#end%>
    });
</script>
<script type="text/javascript">
    // $('.radio input').click(function(){
    //     $('.form-control').slideUp()
    //     $('.form-control').val('')
    //     $(this).parent().parent().parent().find('.form-control').slideDown()
    // })

    $('.btn-submit').click(function(e) {
        if($('input[name=ad]:checked').val() == undefined){
            e.preventDefault()
            alert_box('Please select the Plateform')
        }else{
            if($("."+$('input[name=ad]:checked').val()).val() == "" ){
                e.preventDefault()
                alert_box('Please Enter API Key.')
            }
        }
    });
</script>
<style type="text/css">
    .in{
        height: 150%
    }
</style>>