<!DOCTYPE html>
<html>
<head>
 	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>StealthRoi :: Home</title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  	<%= csrf_meta_tags %>
  	<%= stylesheet_link_tag 'user' %>
  	<%= javascript_include_tag 'user' %>

</head>
<body id="home">
  <% if notice %>
      <p class="alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

<script type="text/javascript">
	$(document).ready(function(){
	  setTimeout(function(){
	    $('.alert-success,.alert-danger').slideUp();
	  }, 6000);
	 })
</script>
<style type="text/css">
	.alert-danger {
	    background-color: #f2dede;
	    border-color: #eed3d7;
	    color: #b94a48;
	    text-align: left;
	    padding: 10px;
	    margin-bottom: 0;
	 }

	.alert-success {
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	    color: #468847;
	    text-align: left;
	   	padding: 10px;
	    margin-bottom: 0;
	 }

</style>

</body>
</html>
